RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Check if the requested file is an HTML or PHP file 
RewriteCond %{REQUEST_URI} \.(html|php)$

RewriteRule ^(.*)$ index.php [L]
