:root {
  --accent-color: rgb(91, 41, 147);
  /* --accent-button-background: #404bbf;
    --btn-background: #4d5ae5;
    --hero-font-color: #ffffff; */
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64, 61, 68);
  --white-text-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-font-color);
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.header .start {
  height: 192px;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 390px) {
  .container {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1023px) {
  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header-logo-img {
    display: block;
    width: 103px;
    height: 48px;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-close {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-close-icon {
    width: 24px;
    height: 24px;
  }

  .header-nav-list {
    position: fixed;
    top: 64px;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .header-nav-item-container {
    display: flex;
    gap: 10px;
  }

  .heder-nav-text {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    color: black;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-table {
    display: none;
    flex-direction: column;
    gap: 8px;
  }

  .is-opened .nav-table {
    display: flex;
  }

  .inner-mobile-menu-open-icon {
    transform: rotate(180deg);
  }

  .is-opened .inner-mobile-menu-open-icon {
    transform: rotate(0);
  }

  .nav-table-item {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    color: var(--accent-color);
    padding-left: 32px;

    margin-right: auto;
  }

  .header-nav-item-link {
    color: inherit;
  }

  .inner-mobile-menu-open-btn {
    padding: 0;
    line-height: 0;
    border: none;
    width: 13px;
    height: 17px;
    background-color: white;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
    align-self: center;
  }

  /* .inner-mobile-menu-close-btn {
    padding: 0;
    line-height: 0;
    border: none;
    width: 13px;
    background-color: white;
    height: 17px;
    align-self: center;
  } */

  .nav-mobile-menu {
    display: none;
  }

  .nav-mobile-menu.mobile-menu-is-opened {
    display: block;
  }

  .menu-none {
    display: none;
  }

  .nav-table.menu-none {
    display: none;
  }

  .inner-mobile-menu-close-btn.menu-none {
    display: none;
  }

  .mobile-menu-handler.is-hidden {
    display: none;
  }

  /* FOOTER */
  .footer {
    background-color: rgb(91, 41, 147);
    display: flex;
    justify-content: center;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
  }

  .footer-logo {
    width: 183px;
    height: 73px;
  }

  .nav-footer-part {
    align-self: start;
  }

  .nav-footer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: start;
  }

  .nav-footer-list-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.55;
    color: var(--white-text-color);
    margin: 0;
  }

  .nav-footer-list-items {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.55;
    color: var(--white-text-color);
  }

  .donation-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(224, 215, 134);

    border-radius: 10px;
  }

  .donation-link-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.55;

    color: var(--accent-color);
  }

  .donation-footer-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
    width: 239px;
    color: var(--white-text-color);
    text-align: center;
  }

  .social-media-footer-list {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .social-media-item-icon {
    width: 26px;
    height: 26px;
    fill: white;
  }

  .footer-social-media-text {
    font-weight: 600;
    font-size: 13px;
    width: 150px;
    text-align: center;
    color: var(--white-text-color);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1778px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0px;
  }

  /* HEADER */
  .header-navigation {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .header-logo-img {
    width: 252px;
    height: 98px;
  }

  .header-nav-list {
    display: flex;
    gap: 10px;
  }

  .close-btn-none {
    display: none;
  }

  .mobile-menu-handler {
    display: none;
  }

  .nav-table {
    visibility: hidden;
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .is-opened .nav-table {
    visibility: visible;
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .inner-mobile-menu-open-icon {
    transform: rotate(180deg);
  }

  .is-opened .inner-mobile-menu-open-icon {
    transform: rotate(0);
  }

  .inner-mobile-menu-open-btn {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: white;
    align-self: center;
  }

  .inner-mobile-menu-open-icon {
    width: 13px;
    height: 26px;
  }

  .inner-mobile-menu-close-btn {
    display: none;
  }

  .header-nav-item {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.208;
    letter-spacing: 0em;
    position: relative;
    padding: 46px 6px 46px 16px;
  }

  .header-nav-item-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .header-nav-item {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.208;
    letter-spacing: 0em;
    position: relative;
  }

  .header-nav-item-link:visited {
    color: inherit;
  }

  .nav-table {
    position: absolute;
    transform: translateY(45px);
    width: 302px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--accent-color);
  }

  .nav-table-item {
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
  }

  .nav-table-link {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--white-text-color);
  }

  .nav-table-link:hover,
  .nav-table-link:focus {
    color: rgb(213, 201, 90);
  }

  /* Footer */
  .footer {
    background-color: rgb(91, 41, 147);
    display: flex;
    justify-content: center;
  }

  .footer-section {
    width: 1268px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* column-gap: 140px; */
    row-gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-section :nth-child(5) {
    order: 4;
  }

  .footer-section :nth-child(6) {
    order: 5;
  }

  .footer-section :nth-child(4) {
    order: 6;
  }

  .footer-logo {
    width: 312px;
    height: 121px;
    margin-right: 145px;
    margin-bottom: 30px;
  }

  .nav-footer-list {
    display: flex;
    gap: 43px;
    color: white;
    margin-right: 40px;
  }

  .nav-footer-list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    margin: 0px;
  }

  .nav-footer-list-items {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.55;
  }

  .donation-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(224, 215, 134);

    border-radius: 10px;
    align-self: center;
  }

  .donation-link-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.55;
    color: var(--accent-color);
  }

  .donation-footer-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
    width: 598px;
    color: var(--white-text-color);
    text-align: center;
  }

  .social-media-footer-list {
    display: flex;
    gap: 11px;
    align-items: center;
    margin-right: 22px;
  }

  .social-media-item-icon {
    fill: white;
  }

  .footer-social-media-text {
    width: 250px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: var(--white-text-color);
    margin-right: 120px;
  }
}

@media screen and (max-width: 1023px) {
  body {
    margin: 0;
  }

  main,
  header,
  footer {
    padding: 8px;
  }

  header {
    padding-bottom: 0;
    background-color: white;
  }

  header.mobile-menu-is-opened {
    position: fixed;
  }

  main {
    padding-bottom: 0;
    padding-top: 0;
  }

  footer {
    padding-top: 0;
  }
}
