* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--main-font-color);
}

.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
}

.header .start{
    height: 192px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 32px;
}

.header-navigation {
    max-width: 1920px;  
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
  margin-left: auto;
}

/* .header-logo {
  display: flex;
  align-items: center;
}
.header-logo-icon {
  fill: rgb(91,41,147);
  margin-right: 20px;
}
.header-logo-text {
  fill: 413D45;
  margin-bottom: 17px;
} */
.header-nav-list {
    display: flex;
    gap: 40px;
    padding: 0 16px;
}


.nav-table.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.header-nav-item {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.208;
    letter-spacing: 0.00em;
    position: relative;
}

.header-nav-item-link:visited {
    color: inherit;
}

/* .header-nav-item:hover >.nav-table,
.header-nav-item:focus > .nav-table {
display: block;
} */
.nav-table {
    position: absolute;
    transform: translateY(45px);
    width: 302px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--accent-color);
}

.nav-table-item {
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
}

.nav-table-link {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--white-text-color);
}

.nav-table-link:hover,
.nav-table-link:focus {
    color: rgb(213, 201, 90);
}


/* Footer */
.footer {
    background-color: rgb(91, 41, 147);
    /* width: 1920px; */
}

.footer-section {
    /* height: 572px; */
    /* background-color: rgb(91, 41, 147); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 340px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-footer-part {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: baseline;
    /* margin-left: 338px;
    margin-top: 66px; */
}

.footer-logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social-media-footer-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-media-item-icon {
    fill: white;
}

.footer-social-media-text {
    width: 250px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: var(--white-text-color);
}

.nav-footer-part {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.nav-footer-list {
    display: flex;
    gap: 53px;
    color: white;
}

.nav-footer-list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    color: var(--white-text-color);
}

.nav-footer-list-items {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.55;
}

.nav-footer-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    width: 604px;
    color: var(--white-text-color);
}
