:root {
    --accent-color: rgb(91, 41, 147);
    /* --accent-button-background: #404bbf;
        --btn-background: #4d5ae5;
        --hero-font-color: #ffffff; */
    --white-background-color: rgb(255, 255, 255);
    --shadow-background: rgba(64, 61, 68, 0.02);
    --main-font: "Montserrat", sans-serif;
    --main-font-color: rgb(64, 61, 68);
    --grey-font-color: rgb(91, 91, 108);
    --white-text-color: rgb(255, 255, 255);
  }
  
  @media screen and (min-width: 390px) {
    .main-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .container {
      /*max-width: 390px;*/
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
  
    .help-ukrainians-container {
      background-color: var(--shadow-background);
    }
  
    .history-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  
    .main-title::after {
      margin-bottom: 0;
    }  
}

.help-projects {
    width: 1246px;
    margin-left: auto;
    margin-right: auto;
}

.volunteering {
    width: 1246px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(242, 242, 242);
}

.main-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    color: var(--accent-color);
    text-align: center;
    margin-top: 24px;
}

.main-title::after {
    display: block;
    content: "";
    width: 1564px;
    /* height: 1px; */
    border: 1px solid rgba(64, 61, 68, 0.2);
    text-align: center;
    margin-top: 78px;
    margin-bottom: 22px;
}

.main-text {
    font-size: 18px;
    line-height: 1.52;
    width: 1265px;
    text-align: center;
    margin-bottom: 65px;
}


/* projects */
.help-projects-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 67px;
}

.help-projects-item {
    display: flex;
    gap: 24px;
}

.help-projects-item-img {
    width: 612px;
}

.help-projects-item-wrapper {
    width: 611px;
}

.help-projects-item-text {
    font-size: 18px;
    line-height: 1.52;
    width: 611px;
    text-align: start;
}

.help-projects-item-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
}


/* volunteering */
.volunteering-description {
    display: flex;
    gap: 75px;

}

.volunteering-description-text {
    display: flex;
    flex-direction: column;
    gap: 61px;
    width: 613px;
}

.volunteering-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;

}

.bold-text {
    font-weight: 800;
}

.donation-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteering-link {
    box-sizing: border-box;
    display: block;
    padding: 28px 68px;
    font-weight: 600;
    font-size: 20px;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border-radius: 1000px;

}
