:root {
  --accent-color: rgb(91, 41, 147);
  /* --accent-button-background: #404bbf;
        --btn-background: #4d5ae5;
        --hero-font-color: #ffffff; */
  --white-background-color: rgb(255, 255, 255);
  --shadow-background: rgba(64, 61, 68, 0.02);
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64, 61, 68);
  --grey-font-color: rgb(91, 91, 108);
  --white-text-color: rgb(255, 255, 255);
}

.main-text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

/* .volunteering-img-wrapper {
  width: 360px;
  height: 244px;
} */
.column-revers {
  display: flex;
  flex-direction: column-reverse;
}

.donation-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: rgb(242, 242, 242);
}

.volunteering-text-bold {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgb(91, 91, 108);
  padding-bottom: 16px;
}

.mobile-none {
  display: none;
}

.volunteering-text-part {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgb(91, 91, 108);
}

.volunteering-text-part:first-child {
  margin-bottom: 8px;
}

.volunteering-img-wrapper {
  width: 100%;
  aspect-ratio: 2;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 16px;
}

.volunteering-img-wrapper > .volunteering-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.volunteering-btn {
  padding: 26px 90px;
  margin-bottom: 8px;
}

.main-title-container.beginning {
  margin-bottom: 24px;
}

@media screen and (min-width: 1280px) {
  .regular-block-main-container {
    gap: 32px;
  }

  .main-text {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .column-revers {
    display: flex;
    flex-direction: row;
  }

  .project-img-wrapper {
    width: 612px;
    height: 474px;
  }

  .project-img-wrapper > .project-img {
    display: block;
    height: 100%;
    width: 100%;
  }

  .donation-description {
    height: 658px;
  }

  .volunteering-img-wrapper {
    width: 529px;
    height: 358px;
    margin-bottom: 41px;
  }

  .volunteering-text-bold {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .volunteering-text-part {
    font-size: 18px;
  }

  .donation-description {
    flex-direction: column;
    width: 100%;
    /* flex-wrap: wrap; */
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .mobile-none {
    display: block;
  }

  .display-none {
    display: none;
  }

  .donation-first-desktop-part {
    display: flex;
    gap: 64px;
    align-items: center;
  }

  .donation-text-desktop-part {
    /* order: 1; */
    width: 613px;
  }

  /* .donation-text-desktop-part:first-child {
  margin-bottom: 32px;
  } */
  .donation-description :nth-child(4) {
    /* order: 2; */
    /* width: 613px; */
  }

  .donation-description :nth-child(5) {
    /* order: 5; */
  }

  .volunteering-img-wrapper > .volunteering-img {
    width: 529px;
    height: 358px;
  }

  .volunteering-btn {
    padding: 28px 139px;
    margin-bottom: 0;
  }
}
