:root {
  --accent-color: rgb(91, 41, 147);
  /* --accent-button-background: #404bbf;
        --btn-background: #4d5ae5;
        --hero-font-color: #ffffff; */
  --white-background-color: rgb(255, 255, 255);
  --shadow-background: rgba(64, 61, 68, 0.02);
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64, 61, 68);
  --grey-font-color: rgb(91, 91, 108);
  --white-text-color: rgb(255, 255, 255);
}
.main-text {
  font-size: 13px;
  line-height: 1.52;
  text-align: center;
  margin-bottom: 8px;
}
.volunteering-img-wrapper {
  width: 360px;
  height: 244px;
}

.volunteering-img-wrapper > .volunteering-img {
  display: block;
  height: 100%;
  width: 100%;
}
.donation-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: rgb(242, 242, 242);
}
.volunteering-text-bold {
  font-weight: 800;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.volunteering-text-part {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}
.volunteering-text-part:first-child {
  margin-bottom: 8px;
}
.volunteering-btn {
  padding: 26px 90px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1366px) {
  .regular-block-main-container {
    gap: 32px;
  }
  .main-text {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .project-img-wrapper {
    width: 612px;
    height: 474px;
  }
  .project-img-wrapper > .project-img {
    display: block;
    height: 100%;
    width: 100%;
  }
  .donation-description {
    height: 658px;
  }
  .volunteering-img-wrapper {
    width: 529px;
    height: 358px;
  }
  .volunteering-text-bold {
    font-size: 18px;
  }
  .volunteering-text-part {
    font-size: 18px;
  }
  .donation-description {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .donation-description :nth-child(1) {
    order: 1;
    width: 613px;
  }
  .donation-description :nth-child(2) {
    order: 3;
  }
  .donation-description :nth-child(3) {
    order: 4;
    width: 1243px;
    align-self: center;
  }
  .donation-description :nth-child(4) {
    order: 2;
    width: 613px;
  }
  .donation-description :nth-child(5) {
    order: 5;
  }

  .volunteering-btn {
    padding: 28px 139px;
    margin-bottom: 0px;
  }
}
