@media screen and (min-width: 320px) {
  .banner {
    width: 100%;
    aspect-ratio: 2.5;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    background-image: url("./images/join-us/join-us-desktop-banner.png");
    margin-top: 16px;
  }

  .invitation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 34px;
  }

  .color-part {
    color: var(--accent-color);
  }

  .sub-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
  }

  .sub-title::after {
    display: block;
    content: "";
    border: 1px solid rgba(64, 61, 68, 0.2);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .invitation-wrapper {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  .invitation-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .invitation-text {
    font-size: 14px;
    line-height: 1.5;
    /* width: 358px; */
    text-align: start;
  }

  .decorated-background {
    width: 340px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("./images/join-us/join-us-scouts.png");
  }

  .second-invitation-wrapper {
    flex-direction: column;
  }

  .second-decorated-background {
    background-image: url("./images/join-us/join-us-rovers.png");
  }

  /* advantages */
  .advantages {
    background-color: rgb(91, 41, 147);
  }

  .advantages-wrapper {
    padding: 24px 16px;
  }

  .advantages-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    text-align: center;
    color: var(--white-text-color);
    margin-bottom: 16px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .advantage-heder-part {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
  }

  .sign-advantage-img {
    width: 85px;
    height: 85px;
  }

  .advantages-item-title {
    font-weight: 600;
    font-size: 16px;
    color: white;
  }

  .advantages-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.00098em;
    color: white;
  }

  /* leadership */
  .leadership {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0 16px 0;
  }

  .third-decorated-background {
    background-image: url("./images/join-us/join-us-scouts-lider.png");
  }

  .leadership-points-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  .leadership-text-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
    color: var(--accent-color);
    margin-bottom: 8px;
  }

  .leadership-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: start;
    color: rgb(91, 91, 108);
  }

  .leadership-img-wrapper {
    width: 100%;

    height: 232px;
    aspect-ratio: 1.025;
    border-radius: 10px;
    overflow: hidden;
  }

  .leadership-img-wrapper > .leadership-img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: 50% 40%;
  }

  .leadership-img-wrapper > .second {

    object-position: 50% 60%;
  }

  .second-leadership-points-wrapper {
    flex-direction: column;
  }

  /* .third-join-btn {
    margin-top: 16px;
  } */

  /* .join-us-btn {
    padding: 26px 249px 26px 249px;
  } */
}


@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  /* MAIN */
  .banner {
    width: 100%;
    background-image: url("./images/join-us/join-us-desktop-banner.png");
    margin-bottom: 32px;
    margin-top: 0px;
  }

  .invitation-section {
    padding-top: 16px;
    padding-bottom: 48px;
  }

  .main-text {
    font-size: 18px;
    margin-bottom: 64px;
    width: 100%;
    text-align: center;
  }

  .color-part {
    font-weight: 600;
    color: inherit;
  }

  .sub-title {
    font-size: 32px;
    color: var(--main-font-color);
  }

  .sub-title::after {
    display: none;
  }

  .invitation-wrapper {
    position: relative;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 85px;
  }

  .invitation-text-wrapper {
    gap: 30px;
  }

  .invitation-text {
    font-size: 18px;

    width: 730px;
    text-align: start;
    margin-bottom: 32px;
  }

  .decorated-background {
    width: 455px;
    height: 617px;
    position: relative;
    transform: translateY(10%);
  }

  .join-btn {
    align-self: end;
  }

  .second-join-btn {
    align-self: start;
  }

  .second-decorated-background {
    position: relative;
    transform: translateY(0%);
  }

  .second-invitation-text-wrapper {
    gap: 100px;
  }

  .invitation-text-part:not(:last-child) {
    margin-bottom: 20px;
  }

  /* advantages */
  .advantages {
    background-color: var(--accent-color);
    background-image: url("./images/join-us/logo-background.png");

    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }

  .advantages-wrapper {
    width: 1112px;
    padding: 64px 0 50px 0;
    margin-right: auto;
    margin-left: auto;
  }

  .advantages-title {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 128px;
    row-gap: 32px;
  }

  .advantages-item {
    width: 492px;
  }

  .advantage-heder-part {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .advantages-item-title {
    font-size: 24px;
  }

  .advantages-item-text {
    font-size: 18px;
  }


  /* leadership */
  .container.regular-section.leadership {
    padding: 32px 64px 16px;
  }

  .second-invitation-wrapper {
    gap: 60px;
    margin-bottom: 32px;
  }

  .third-decorated-background {
    background-size: 443px 622px;
    /* position: relative; */
    transform: translateY(0%);
  }

  .second-invitation-text {
    width: 648px;
  }

  .leadership-points-wrapper {
    flex-direction: row;
    gap: 24px;
    align-items: start;
  }

  .leadership-text-title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .leadership-text {
    font-size: 18px;
    line-height: 1.5;
    width: 596px;
    text-align: start;
  }

  .leadership-img-wrapper {
    width: 596px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
  }

  .leadership-points-wrapper:not(:last-child) {
    margin-bottom: 32px;
  }

  .third-join-btn {
    align-self: center;
  }

}


