:root {
  --accent-color: rgb(91,41,147); 
  /* --accent-button-background: #404bbf;
  --btn-background: #4d5ae5;
  --hero-font-color: #ffffff; */ 
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64,61,68);
  --white-text-color: rgb(255,255,255)
 
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-font-color);
}
.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.header {
  width: 100%;
}
.container {
  /* width: 100%; */
  width: 1778px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.header-navigation {
  height: 320px;
  display: flex;
  justify-content: space-around;
  gap: 296px;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo-icon {
  fill: rgb(91,41,147);
  margin-right: 20px;
}
.header-logo-text {
  fill: 413D45;
  margin-bottom: 17px;
}
.header-nav-list {
  display: flex;
  gap: 20px;
}
.header-nav-item {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.208; 
  letter-spacing: 0.00em; 

}
.banner {
  width: 2156px;
  height: 1022px;
background-repeat: no-repeat;
  background-image: 
  url("./images/join-us.jpg");
}
.invitation-section {
  width: 2156px;
  text-align: center;
  padding-bottom: 156px;
}
.main-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1; 
  letter-spacing: 0.00098em; 
  color: var(--accent-color) ;
  text-align: center;
  margin-top: 24px;
}

.main-title::after{
  display: block;
  content: "";
  /* width: 1564px; */
  height: 1px;
  border: 1px solid rgba(64, 61, 68, 0.2); 
  text-align: center;
  margin-top: 78px;
   margin-bottom: 22px;
}
.main-text {
  font-size: 18px;
  line-height: 1.52; 
  width: 1265px;
  text-align: center;
  margin-bottom: 65px;
}
.bold-main-text {
  font-weight: 600;
  margin-bottom: 65px;
  
}
.sub-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1; 
  letter-spacing: 0.00098em; 
  
  margin-bottom: 52px;
}
.invitation-text {
  font-size: 18px;
  line-height: 1.5;
  width: 730px;
  text-align: start; 
}
.invitation-text-part:not(:last-child) {
  margin-bottom: 20px;
}

.join-btn{
  background-color: var(--accent-color);
}
.join-link {
  font-weight: 600;
  font-size: 20px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-radius: 1000px;
  padding: 28px 39px;
}
/* advantages */
.advantages {
  width: 1920px;
  background-color: rgb(91,41,147);
  padding: 150px 330px 48px 330px;
}
.advantages-title { 
  color: var(--white-text-color);
  text-align: center;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  width: 609px;
  padding: 90px 60px 48px 60px;
}
.advantages-item-title{
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6; 
  letter-spacing: 0.00098em; 
  color: white;
}




/* leadership */
.leadership {
  width: 1920px;
}
.leadership-wrapper{
  display: flex;
  gap: 24px;
}
.leadership-title {
  text-align: center;
}
.leadership-text {
  font-size: 18px;
  line-height: 1.52;
  width: 660px;
  text-align: start; 
}
.leadership-text-part:not(:last-child) {
  margin-bottom: 20px;
}
.leadership-text-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.000101em; 
}
.leadership-points-wrapper {
  display: flex;
}

































.footer {
  background-color:  rgb(91,41,147)
  /* width: 1920px; */
}


.footer-section {
  /* height: 572px; */
  background-color:  rgb(91,41,147) ;
  display: flex;
  gap: 145px;
}
.contact-footer-part {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: baseline;
  margin-left: 338px;
  margin-top: 66px;
}
.footer-logo {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-logo-icon {
  fill: white;
}
.footer-logo-text {
  fill: white;
}
.social-media-footer-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.social-media-item-icon {
  fill: white;
}
.footer-social-media-text {
  width: 250px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2; 
  color: var(--white-text-color);
}
.nav-footer-list {
  display: flex;
  gap: 10px;
  margin-top: 149px;
  color: white;
}
.nav-footer-list-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55; 
  color: var(--white-text-color);
}
.nav-footer-list-items {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55; 
}