:root {
  --accent-color: rgb(91, 41, 147);
  /* --accent-button-background: #404bbf;
      --btn-background: #4d5ae5;
      --hero-font-color: #ffffff; */
  --white-background-color: rgb(255, 255, 255);
  --shadow-background: rgba(64, 61, 68, 0.02);
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64, 61, 68);
  --grey-font-color: rgb(91, 91, 108);
  --white-text-color: rgb(255, 255, 255);
}

@media screen and (min-width: 390px) {
  .main-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    /*max-width: 390px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .history-section {
    background-color: var(--shadow-background);
  }

  .history-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .main-title::after {
    margin-bottom: 0;
  }

  .history-points-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .history-points-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .history-points-wrapper:nth-child(even) {
    flex-direction: column-reverse;
  }
  /* .history-points-img-wrapper {
    width: 358px;
    height: 179px;
    border-radius: 10px;
    overflow: hidden;
  }

  .history-points-img-wrapper > .history-points-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  } */
  .history-points-text-wrapper {
    align-self: start;
  }

  .history-text-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: var(--accent-color);
    margin-bottom: 5px;
  }

  .history-text {
    font-size: 13px;
    line-height: 1.5;
    width: 342px;
    text-align: start;
    color: var(--grey-font-color);
  }

  .additional-text {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
    font-style: italic;
    /* width: 1211px; */
    text-align: center;
  }

  .additional-text-part {
    margin-bottom: 10px;
  }

  .additional-text-link {
    color: inherit;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1023px) {
  /* .main-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    } */
}

@media screen and (min-width: 1024px) {
  .history-section {
    background-color: var(--white-background-color);
  }

  .history-wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .main-title::after {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .history-points-list {
    gap: 32px;
  }

  .history-points-wrapper {
    flex-direction: row;
    gap: 48px;
  }

  .history-points-wrapper:nth-child(even) {
    flex-direction: row;
  }

  .history-points-img-wrapper {
    width: 612px;
    height: 428px;
  }

  .history-text {
    font-size: 18px;
    line-height: 1.52;
    width: 636px;
    text-align: start;
  }

  .history-text-part:not(:last-child) {
    margin-bottom: 20px;
  }

  .history-text-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 24px;
  }

  .history-points-wrapper {
    display: flex;
  }

  .additional-text {
    font-size: 24px;
  }
}
