:root {
    --accent-color: rgb(91, 41, 147);
    /* --accent-button-background: #404bbf;
    --btn-background: #4d5ae5;
    --hero-font-color: #ffffff; */
    --main-font: "Montserrat", sans-serif;
    --main-font-color: rgb(64, 61, 68);
    --white-text-color: rgb(255, 255, 255)

}

/* history */
.history-section {
    width: 100%;
}

.history-wrapper {
    width: 1246px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.main-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    color: var(--accent-color);
    text-align: center;
    margin-top: 24px;
}

.main-title::after {
    display: block;
    content: "";
    width: 1564px;
    height: 1px;
    border: 1px solid rgba(64, 61, 68, 0.2);
    text-align: center;
    margin-top: 78px;
    margin-bottom: 22px;
}

.history-text {
    font-size: 18px;
    line-height: 1.52;
    width: 660px;
    text-align: start;
}

.history-text-part:not(:last-child) {
    margin-bottom: 20px;
}

.history-text-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
}

.history-points-wrapper {
    display: flex;
}

.additional-text {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
    font-style: italic;
    width: 1211px;
    text-align: center;
}
