:root {
    --accent-color: rgb(91, 41, 147);
    /* --accent-button-background: #404bbf;
    --btn-background: #4d5ae5;
    --hero-font-color: #ffffff; */
    --main-font: "Montserrat", sans-serif;
    --main-font-color: rgb(64, 61, 68);
    --white-text-color: rgb(255, 255, 255)

}


.team-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;    
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 248px;
    height: 302px;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 8px;
}

.member-img-wrapper {
    width: 248px;
    height: 206px;
    overflow: hidden;
       align-self: center;
    /* padding: 8px; */
  }
  .member-img-wrapper > .member-img {
    display: block;
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
  .member-text-wrapper {
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 40px;
    padding-right: 40px; */
  }

.member-position {
    font-size: 12px;
    color: var(--grey-font-color);
    text-align: center;
    text-transform: capitalize;
    
    /* text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    cursor: pointer;
    -webkit-box-orient: vertical;   
    display: -webkit-box;
    overflow: hidden; */
}


.name {
    text-align: center;
    font-size: 22px;
      padding-left: 40px;
    padding-right: 40px;
  
}
.additional-text-wrapper {
    padding: 16px;
}
.additional-text {
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .team-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-list {
       flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        width: 1296px;
    }
    .team-member {
        height: 324px;
        padding-bottom: 8px;
    }
   .member-img-wrapper {
    margin-bottom: 20px;
   }
   .member-img-wrapper > .member-img {
    width: 248px;
    height: 206px;
   }
   .additional-text-wrapper {
    width: 850px;
    padding: 32px;
    
}
.additional-text {
    font-size: 18px;
   
}

}


