:root {
    --accent-color: rgb(91, 41, 147);
    /* --accent-button-background: #404bbf;
    --btn-background: #4d5ae5;
    --hero-font-color: #ffffff; */
    --main-font: "Montserrat", sans-serif;
    --main-font-color: rgb(64, 61, 68);
    --white-text-color: rgb(255, 255, 255)

}

/* main */
.main-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    color: var(--accent-color);
    text-align: center;
    margin-top: 24px;
}

.main-title::after {
    display: block;
    content: "";
    width: 1564px;
    height: 1px;
    border: 1px solid rgba(64, 61, 68, 0.2);
    text-align: center;
    margin-top: 78px;
    margin-bottom: 22px;
}

/* team */
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1361px;
    justify-content: start;
}

.team-member {
    width: 246px;
}

.member-position {
    font-size: 12px;
    color: rgb(91, 91, 108);
}

.name {
    font-size: 22px;
}
