
@media screen and (max-width: 1280px) {
  .revers {
    display: flex;
    flex-direction: column-reverse;
  }
  }
  @media screen and (min-width: 1280px) {
    .revers {
      
      flex-direction: row;
    }
    }