:root {
  --accent-color: rgb(91, 41, 147);
  /* --accent-button-background: #404bbf;
    --btn-background: #4d5ae5;
    --hero-font-color: #ffffff; */
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64, 61, 68);
  --white-text-color: rgb(255, 255, 255);
  --transition: 200ms cubic-bezier(0.12, 0.54, 0.97, 0.43);
}

/* main */

.our-mission-wrapper {
  display: flex;
  gap: 16px;
}
.organization-text {
  text-align: center;
  margin-bottom: 8px;
}


/* .additional-text {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
    font-style: italic;
    width: 1211px;
    text-align: center;
} */
.visible-category-age-group-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .visible-category-age-group-img > .visible-category-age-group-picture {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }


@media screen and (max-width: 1365px) {
  
  /* projects */
.age-groups {
    width: 390px;
    height: 132px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(242, 242, 242);
  }
  .visible-category-age-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  /* .visible-category-age-group-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .visible-category-age-group-img > .visible-category-age-group-picture {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  } */
  .hidden-category-text {
    display: none;
  }
  .visible-category-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
  }
  .narrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.organization-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
}

@media screen and (min-width: 1366px) {
    .our-mission-img {
        width: 612px;
        height: 630px;
        border-radius: 10px;
        overflow: hidden;
      }
      .our-mission-text {
        align-self: start;
      }
      
      .our-mission-img > .regular-block-points-img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center;
      }
  .age-groups {
    width: 1246px;
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 570px;
  }

  .age-groups-item {
    position: relative;
  }

  .age-group-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    transform-origin: top left;
    transition: all var(--transition);
  }

  .age-group-wrapper:hover {
    z-index: 1;
  }

  .visible-category-age-group {
    position: relative;
    width: 272px;
    border-radius: 7px;
    transition: all var(--transition);
  }
  .age-group-wrapper:hover .visible-category-age-group {
    width: 340px;
  }

  .visible-category-age-group > .visible-category-age-group-img {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
  }

  .visible-category-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding-bottom: 22px;
    height: 70px;
    text-align: center;
    opacity: 1;
    transition: all var(--transition);
  }

  .hidden-category-age-group {
    position: absolute;
    top: 0;

    width: 345px;
    border-radius: 7px;
  }

  .age-group-wrapper:hover .overlay {
    opacity: 0;
    transition: opacity var(--transition);
  }

  .age-group-wrapper:hover .visible-category-text {
    opacity: 0;
  }

  .hidden-category-text {
    position: absolute;
    bottom: 0;
    padding-top: 19px;
    padding-bottom: 36px;
    width: 100%;
    height: 120px;
    background-color: rgba(91, 41, 147, 0.8);
    opacity: 0;
    transition: opacity var(--transition);
  }

  .age-group-wrapper:hover .hidden-category-text {
    opacity: 1;
    transition: opacity var(--transition);
  }

  .hidden-category-age-group-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: rgb(213, 201, 90);
    text-align: center;
  }

  .hidden-category-age-group-age {
    font-size: 20px;
    line-height: 1.2;
    color: rgb(213, 201, 90);
    text-align: center;
  }
}

/* organization */

.organization-projects-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 67px;
}

.organization-projects-item {
  display: flex;
  gap: 24px;
}

.organization-projects-img-wrapper {
  width: 612px;
  height: 349px;
}

.organization-projects-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.organization-projects-item-wrapper {
  width: 611px;
}

.organization-projects-item-text {
  font-size: 18px;
  line-height: 1.52;
  width: 611px;
  text-align: start;
}

.organization-projects-item-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.000101em;
  margin-bottom: 20px;
}
