
.regular-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0 16px;
  margin-bottom: 24px;
  width: 100%;
}

.regular-block-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.regular-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 0 8px;
}

.regular-block-text-wrapper {
  align-self: start;
}

.regular-block-text-wrapper p{
  margin-bottom: 1em;
}

.regular-block-text-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.regular-block-text {
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  text-align: start;
  color: var(--grey-font-color);
}

.regular-block-text p{
  margin-bottom: 1em;
}

.regular-block-text-bold {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
}

.regular-block-img-wrapper {
  width: 100%;
  aspect-ratio: 2;
  border-radius: 10px;
  overflow: hidden;
}

.regular-block-img-wrapper > .regular-block-points-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.additional-text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.000101em;
  font-style: italic;

  text-align: center;
}

.additional-text-part {
  margin-bottom: 10px;
}

.additional-text-link {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 1280px) {
  .container.regular-section {
    max-width: 1424px;
    padding: 0 64px;
  }

  .regular-section-wrapper {
    padding: 0;
  }

  .regular-block-main-container {
    gap: 32px;
    padding: 0;
  }

  .regular-block-wrapper {
    justify-content: space-between;
    flex-direction: row;
    gap: 48px;
    align-items: flex-start;
    padding: 0;
  }

  .regular-block-wrapper.reverse,
  .regular-block-wrapper:nth-child(even) {
    flex-direction: row-reverse;
  }

  .regular-block-img-wrapper {
    aspect-ratio: 1.43;
    flex: 624px;
  }

  .regular-block-text-wrapper {
    flex: 624px;

  }

  .regular-block-text {
    font-size: 18px;
    line-height: 1.5;
  }

  .regular-block-text-bold {
    font-size: 18px;
  }

  .regular-block-text-title {
    font-size: 24px;
  }

  .additional-text {
    font-size: 24px;
    display: block;
    width: 750px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
    font-style: italic;
    text-align: center;
  }
}
