

.additional-text-history-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1366px) {
  .scouting-history-section  .regular-block-img-wrapper {
    height: 474px;
  }
 
}
