:root {
  --accent-color: rgb(91, 41, 147);
  /* --accent-button-background: #404bbf;
      --btn-background: #4d5ae5;
      --hero-font-color: #ffffff; */
  --white-background-color: rgb(255, 255, 255);
  --shadow-background: rgba(64, 61, 68, 0.02);
  --main-font: "Montserrat", sans-serif;
  --main-font-color: rgb(64, 61, 68);
  --grey-font-color: rgb(91, 91, 108);
  --white-text-color: rgb(255, 255, 255);
}
@media screen and (min-width: 390px) {
  .main-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    /*max-width: 390px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .scouting-history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: var(--shadow-background);
  }
  .main-title::after {
    margin-bottom: 0px;
  }
  .history-points-wrapper {
    gap: 16px;
  }
  .scouting-history-img-wrapper {
    width: 358px;
    height: 179px;
    border-radius: 10px;
    overflow: hidden;
  }
  .scouting-history-img-wrapper > .history-points-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
  .additional-text {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .scouting-history-section {
    padding-top: 16px;
    background-color: var(--white-background-color);
  }
  .main-title::after {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .scouting-history-img-wrapper {
    width: 612px;
    height: 474px;
  }
  .additional-text {
    display: block;
    width: 750px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.000101em;
    font-style: italic;
    
    text-align: center;
  }
}
