@media screen and (min-width: 320px) {
  .additional-main-title::after {
    display: none;
  }

  .main-title.additional-main-title {
    font-size: 20px;
    text-transform: capitalize;
  }

  .main-part-section-img-wrapper {
    width: 100%;
    aspect-ratio: 1.025;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 16px;
    height: 109px;
  }


  .main-part-section-img-wrapper > .main-part-section-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .main-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: end;
    padding: 0 13% 15%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./images/mobile/main-page/banner-mobile.jpg");
    aspect-ratio: 1.48;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;
  }

  .hero-text-container {
    max-width: 179px;
    text-align: center;
  }

  .hero-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--white-text-color);
  }

  .social-media-list {
    display: flex;
    gap: 8px;
  }

  .social-media-item {
    display: flex;
    align-items: center;
  }

  /* .social-media-item-icon {
    width: 26px;
    height: 26px;
    fill: white;
  } */
  .social-media-item-icon:hover {
    fill: rgb(222, 213, 233);
  }

  .subscribing-link {
    align-self: end;
    border-radius: 1000px;
    background-color: rgb(91, 41, 147);
    padding: 15px;
    white-space: nowrap;
  }

  .subscribing-link:hover {
    background-image: linear-gradient(
        to right,
        rgb(91, 41, 147),
        rgb(155, 104, 212)
    );
  }

  .subscribing-link-icon {
    display: none;
  }

  .subscribing-link-text {
    font-weight: 600;
    font-size: 14px;
    color: var(--white-text-color);
  }

  .subscribing-link-text.top span {
    display: none;
  }

  .subscribing-link-text.bottom {
    line-height: 68px;
  }

  /* ABOUT SCOUTS */
  .about-scouts {
    padding-top: 10px;
  }

  .about-scouts-background-block {
    width: 100%;
    /*height: 232px;*/
    aspect-ratio: 1.68;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-image: url("./images/about-us/about-us.jpg");
  }

  .sub-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 8px;
  }

  .about-scouts-text {
    display: none;
  }

  .about-scouts-cards-list-container {
    display: flex;
    justify-content: center;
    padding: 0 16px;
  }

  .about-scouts-cards-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: white;
    margin-top: -20.5%;
  }

  .about-scouts-card {
    width: 100%;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: rgb(245, 245, 245);
  }

  .about-scouts-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  .about-scouts-card-img {
    width: 58px;
    height: 58px;
    border-radius: 1000px;
    overflow: hidden;

  }

  .about-scouts-card-img > .about-scouts-card-picture {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    background-position: center;
  }

  .about-scouts-card-nav {
    display: none;
  }

  .scouts-card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.00098em;
    color: var(--accent-color);
  }

  .scouts-card-text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.00098em;
  }

  /* MAIN PART */
  .main-part {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: bottom 30px left -10px, top -20px right;
    background-image: url("./images/mobile/main-page/main-banner-background1.png"),
    url("./images/mobile/main-page/main-banner-background2.png");
  }

  .main-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.01;
    letter-spacing: 0.00091em;
    text-transform: uppercase;
    margin-bottom: 16px;
  }


  .main-information-block {
    display: flex;
    max-width: 100%;
    /* width: 1564px; */
    justify-content: space-between;
  }

  .information-block {
    display: flex;
    width: 119px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .information-numbers {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.00097em;
    color: rgb(91, 41, 147);
  }

  .text-information {
    font-size: 14px;
    text-align: center;
  }

  /* EVENTS */
  .events {
    padding-top: 16px;
    padding-bottom: 26px;
    /* box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25); */
  }

  .events-title {
    display: none;
  }

  .events-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 16px;
  }


  .events-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    margin-bottom: 8px;
  }

  .events-item:nth-child(2n + 1),
  .events-item:nth-child(2n + 2) {
    flex: 0 0 calc(50% - 10px);
  }

  .events-item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.00098em;
    text-align: center;
  }

  .events-img-wrapper {
    width: 100%;
    /*height: 155px;*/
    aspect-ratio: 1.025;
    border-radius: 24px;
    overflow: hidden;
    /* box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.25); */
  }

  .events-img-wrapper > .events-img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    background-position: center;
  }


  .events-item-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
  }

  /* reviews */
  .reviews {
    background-color: var(--accent-color);
    width: 100%;
    padding-top: 24px;
    padding-bottom: 16px;
    margin-bottom: 8px;
  }

  .reviews-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
    color: var(--white-text-color);

    text-align: center;
    margin-bottom: 16px;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .reviews-stiled:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .first {
    display: none;
  }

  .second {
    display: none;
  }

  .reviews-section {
    padding: 0 10px;
  }

  .reviews-item {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 10px;
    width: 100%;
    gap: 8px;
    /* height: 224px; */
    padding: 8px;

  }

  .reviews-individuo-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .reviewer-photo-wrapper {
    width: 75px;
    aspect-ratio: 1;
    border-radius: 38px;
    overflow: hidden;
    /* box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.25); */
  }

  .reviewer-photo-wrapper > .reviewer-photo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background-position: center; */
    background-position: right 35% bottom 45%;
  }

  .reviews-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
  }

  .reviewer-name {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
  }

  .reviewer-status {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.00098em;

    color: rgb(133, 111, 150);
  }

  /* invitation */
  .invitation-information {
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .invitation-title {
    font-weight: 600;
    font-size: 16px;

    color: var(--accent-color);
    text-align: center;
  }

  .invitation-text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }

  .invitation-section-img,
  .subscribing-link-icon {
    display: none;
  }

  .subscribing-link.subscribing-link-invitation {
    display: inline-block;
    background-color: var(--accent-color);
    align-self: center;
    margin: 8px 0;
    border-radius: 34px;
    padding: 0 24px;
  }

  .subscribing-link-invitation-text {
    font-weight: 600;
    font-size: 16px;
    color: var(--white-text-color);
  }

  .events-list-container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .main-title.additional-main-title {
    font-size: 40px;
  }

  /* main */
  .hero {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    width: 1778px;
    height: 595px;
    gap: 40px;

    max-width: 100%;
    border-radius: 24px;
    padding: 184px 13% 128px 13%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./images/about-us/background-img.jpg");
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .hero-text-container {
    max-width: 750px;
    text-align: center;
  }

  .hero-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white-text-color);
  }

  .social-media-list {
    display: flex;
    gap: 19px;

  }


  .social-media-item-icon:hover {
    fill: rgb(222, 213, 233);
  }

  .subscribing-link {
    display: flex;
    width: 350px;
    height: 80px;
    gap: 24px;
    align-items: center;
    border-radius: 1000px;
    background-color: rgb(91, 41, 147);
    padding: 28px 39px 28px 39px;
    align-self: end;
    white-space: nowrap;
  }

  .subscribing-link:hover {
    background-image: linear-gradient(
        to right,
        rgb(91, 41, 147),
        rgb(155, 104, 212)
    );
  }

  .subscribing-link-text {
    font-weight: 600;
    font-size: 20px;
    color: var(--white-text-color);
  }

  /* ABOUT SCOUTS */
  .about-scouts {
    padding: 32px 64px 48px;
  }

  .about-scouts-block {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: center;
  }

  .about-scouts-background-block {
    width: 772px;
    height: 601px;
    border-radius: 24px;
    background-image: url("./images/about-us/about-us.jpg");
    background-size: contain;
  }

  .sub-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.00098em;
    text-align: start;
    color: var(--accent-color);
    margin-bottom: 16px;
  }

  .about-scouts-text {
    display: block;
    width: 442px;
    height: 216px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
  }

  .about-scouts-text-bold {
    font-weight: 700;
  }

  .about-scouts-cards-list-container {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .about-scouts-cards-list {
    max-width: 1556px;
    display: flex;
    flex-direction: row;
    grid-gap: 24px;
    margin-top: -213px;
    justify-content: center;
    padding-left: 31px;
    padding-right: 31px;
  }

  .about-scouts-card {
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(245, 245, 245);
  }

  .about-scouts-header {
    margin-bottom: 16px;
    text-align: center;
  }

  .about-scouts-card-img {
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    overflow: hidden;
    background-size: cover;
    margin: 0 auto 24px;
  }

  .about-scouts-card-img > .about-scouts-card-picture {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    background-position: center;
  }

  .about-scouts-card-img img {
    height: 100%;
  }

  .scouts-card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.00098em;
    display: inline-block;
    height: 66px;
  }

  .scouts-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.00098em;
    margin-bottom: 40px;
  }

  .about-scouts-card-nav {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 25px;
  }

  /* MAIN SECTION */
  .main-part {
    padding-top: 46px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: left bottom;
    /* background-size: cover;    */
    background-image: url("./images/about-us/background-group.png");
  }

  .main-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.01;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .main-part-section-img-wrapper {

    aspect-ratio: 1.025;
    border-radius: 24px;

    /* width: 392px; */
    height: 434px;
  }


  .main-information-block {
    display: flex;
    max-width: 100%;
    width: 1564px;
    justify-content: space-around;
  }

  .information-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information-numbers {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 0.8;
    letter-spacing: 0.00097em;
    color: rgb(91, 41, 147);
    margin-bottom: 30px;
  }

  .text-information {
    font-size: 35px;
  }

  /* EVENTS */
  .events {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .events-wrapper {
    width: 100%;
    padding: 0 64px;
  }

  .events-title {
    /* margin-bottom: 69px; */
    display: block;
    text-align: center;
    margin-bottom: 46px;
    /* text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  }

  .events-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .events-list {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 29px;
    max-width: 1400px;
    width: 100%;
  }

  .events-item {
    max-width: 381px;
    width: 100%;
    border-radius: 20px;
    gap: 32px;
    flex: 1 1 381px;
    display: flex;
    flex-direction: column;
  }

  .events-item:nth-child(2n+1), .events-item:nth-child(2n+2) {
    flex: auto;
  }

  .events-item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.00098em;
    text-align: center;
  }

  .events-img-wrapper {
    width: 100%;
    aspect-ratio: 1;
    text-align: center;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    /* box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.25); */
    margin-bottom: 16px;
  }

  .events-img-wrapper > .events-img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    background-position: center;
  }

  .events-img {
    height: 100%;
    border-radius: 24px;
  }

  .events-item-text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
  }

  .events-img > .events-img-picture {
    object-fit: cover;
  }

  /* reviews */
  .reviews {
    width: 100%;
    background-color: var(--accent-color);
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }

  .reviews-section {
    max-width: 1614px;
    width: 100%;
    height: 964px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding-right: 64px;
    padding-left: 64px;
  }

  .reviews-title {
    font-weight: 600;
    font-size: 36px;
    color: var(--white-text-color);
    width: 286px;
    text-align: center;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 17px;
    align-items: center;
  }

  .reviews-item {
    display: flex;
    flex-direction: column;
    /* width: 380px; */
    width: 286px;
    gap: 40px;
    padding: 40px 24px;
    background-color: white;
    border-radius: 27px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
  }

  .reviews-individuo-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .reviewer-photo-wrapper {
    width: 75px;
    aspect-ratio: 1;
    border-radius: 38px;
    overflow: hidden;
  }

  .reviewer-photo-wrapper > .reviewer-photo {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    background-position: center;
  }


  .reviews-individuo {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .reviewer-name {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.00098em;
  }

  .reviewer-status {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.00098em;
    /* width: 194px; */
    color: rgb(125, 125, 125);
  }

  .reviews-stiled {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .reviews-item-styled {
    background-color: rgba(213, 201, 90, 0.1);
    width: 286px;
    height: 240px;
  }

  .reviews-item-styled.first {
    border-radius: 0 0 24px 24px;
    display: block;
  }

  .reviews-item-styled.second {
    border-radius: 24px 24px 0 0;

    display: block;
  }


  /* invitation */
  .invitation {
    width: 100%;
    background-color: rgb(245, 245, 245);
  }

  .invitation-section {
    max-width: 1576px;
    width: 100%;
    height: 684px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 82px;
    gap: 40px;
  }

  .invitation-information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
    align-items: center;
  }

  .invitation-title {
    font-weight: 600;
    font-size: 36px;
    color: var(--accent-color);
    text-align: center;
  }

  .invitation-text {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

  }

  .subscribing-link-invitation {
    align-self: center;
  }

  .subscribing-link-icon {
    display: block;
  }

  .invitation-section-img {
    display: flex;
    position: relative;
  }

  .invitation-img {
    position: relative;
    z-index: 2;
    width: 50%;
  }

  .invitation-img-second {
    position: relative;
    z-index: 1;
    margin-left: -40px;
    width: 50%;

  }

}

@media screen and (min-width: 1467px) {
  .scouts-card-title {
    display: inline;
    height: auto;
  }
}
